*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

body{
    background: #D32D41;
}

.name{
    font-family: 'Climate Crisis', cursive;
    font-size: 5em;
    margin: 2.5em 0;
}

.image-wrapper{
    height: 100vh;
    display: inline;
    font-size: 0px;
}

.image-wrapper img{
    width: 33%; 
    min-height: 4em;
}

.info-container{
    background-color: #D32D41;
    background-repeat: repeat;
    margin-bottom: 3em;
}

.info-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 3em;
    width: 80%;
}

.about-accomplishments{
    width: 75%;
    height: 50vh;
    background-color:honeydew;
    border-radius: 10%;
    padding: 25px;
}

.about{
    margin-bottom: 2em;
}

.personal-logo{
    padding-left: 2em;
    
    width:auto;
    height:80%;
}

.about{
    font-size: 1.5em;
}

li{
    list-style-position: inside;
}

.personal-logo img{
    width: 50%;
    height: auto;
    border: 2px solid white;
}

.info-links{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border: black dotted 2px;
    background-color: aliceblue;
    box-shadow: 5px 10px grey;
    margin:auto;
    height: fit-content;
    width: 50%;
    align-self: center;
}

.info-links a img{
    height: auto;
    width: 30%;
    border-radius: 50%;
}

.section-break{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.section-break-image-wrapper{
    height: 100vh;
    background-image: url("../images/sound-board.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.projects{
    background-color: #0080A8;
}

.contact-container{
    background-color: #E4D42D;
}

footer{
    background-color: black;
}

footer a{
    color: white;
    text-decoration: none;
}