*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

body{
    background: #D32D41;
}

.name{
    font-family: 'Climate Crisis', cursive;
    font-size: 5em;
    margin: 2em 0;
}

.image-wrapper{
    height: 100vh;
    display: inline;
}

.image-wrapper img{
    width: 33%; 
    min-height: 4em;
}

.info-container{
    background-color: #D32D41;
    background-repeat: repeat;
    padding: 3em;
}

.info-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 5em;
    width: 80%;
}

.about-accomplishments{
    width: 75%;
}

.about{
    margin-bottom: 2em;
}

.personal-logo{
    padding-left: 2em;
    
    width:auto;
    height:80%;
}

.about{
    font-size: 1.5em;
}

li{
    list-style-position: inside;
}

.personal-logo img{
    width: 50%;
    height: auto;
    border: 2px solid white;
}

.info-links{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border: black dotted 2px;
    background-color: aliceblue;
    box-shadow: 5px 10px grey;
    margin:auto;
    margin-bottom: 10px;
    height: fit-content;
    width: 50%;
    align-self: center;

}

.info-links a img{
    height: auto;
    width: 30%;
    border-radius: 50%;
}

.projects{
    background-color: #0080A8;
}

.contact-container{
    background-color: #E4D42D;
}

footer{
    background-color: black;
}

footer a{
    color: white;
    text-decoration: none;
}