*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

body{
    background: #D32D41;
}


/* TITLE PAGE */

.name{
    font-family: 'Climate Crisis', cursive;
    font-size: 5em;
    margin: 2.5em 0;
}

.image-wrapper{
    height: 100vh;
    display: inline;
    font-size: 0px;
}

.image-wrapper img{
    width: 33%; 
    min-height: 4em;
}


/* ABOUT SECTION */

.info-container{
    background-color: #D32D41;
    background-repeat: repeat;
    margin-bottom: 3em;
}

.info-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 3em;
    width: 80%;
    border-top: 2px dashed #000;
    padding-top: 5em;
}

.about-accomplishments{
    width: 75%;
    height: 50vh;
    background-color:aliceblue;
    border-radius: 10%;
    padding: 25px;
}

.about{
    margin-bottom: 2em;
}

.personal-logo{
    padding-left: 2em;
    
    width:auto;
    height:80%;
}

.about{
    font-size: 1.5em;
}

li{
    list-style-position: inside;
}

.personal-logo img{
    width: 50%;
    height: auto;
    border: 2px solid white;
}


/* LINKS BARS */

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border: black dotted 2px;
    background-color: aliceblue;
    box-shadow: 5px 10px grey;
    margin: auto;
    height: 10em;
    width: 60%;
}

.links a{
  height: auto;
  width: 6%;
}

.links a img{
  height: auto;
  width: 100%;
}

.links a i,
.resume i{
  text-decoration: none;
  color: #000;
  font-size: 4.5em;
}



/* SOUND BOARD SECTION BREAK */

.section-break{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.section-break-image-wrapper{
    height: 100vh;
    background-image: url("../images/sound-board.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* PROJECTS & DEMOS */

.projects{
    padding: 2em;
    background-color: #0080A8;
}

.demo-container{
    display: flex;
    justify-content: center;
}

.text-wrapper{
    background-color: azure;
    width: 33%;
    margin: 1.5em;
    align-items: center;
    position: relative;
}

.text-wrapper p{
    top: 50%;
    position: relative;
}

.right{
    flex-direction: row;
}

.left{
    flex-direction: row-reverse;
}


/* SMALL COUNCIL SECTION */

.small-council{
  background-image: url("../images/small-council/SCalbumfaces.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2em;
}

.sc-about{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width:50%;
  height:auto;
  margin: 2em auto;
}

.sc-about p{
  background-color: #fff;
}

.small-council img{
  margin: 2em auto;
  height: 45%;
}

/* CONTACT FORM */

.contact-container{
  padding: 10em 0;
  margin: auto;
  background-color: #E4D42D;
  height: 100vh;
}

.contact-form-container * {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  
  /* colors */
  --color-blue: #2552d0;
  --color-light-blue: #3266e3;
  --color-gray: #e5e7eb;
  --color-dark-gray: #9da3ae;
  --color-pink: #edadd2;
}
  
.contact-form-container {
  /* container */
  --c-width: 50%;
  --c-max-width: 500px;
  padding-top: 5em;
  width: var(--c-width);
  max-width: var(--c-max-width);
  display: block;
  margin: 10vh auto 0 auto;
}
  
.contact-form label {
  display: block;
  padding: 12px 0 2px 0;
  letter-spacing: -0.2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
  
.contact-form input,
.contact-form textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--color-gray);
  border: none;
  border: 4px solid var(--color-gray);
  outline: none;
  border-radius: 8px;
  color: var(--color-dark-gray);
}
  
.contact-form input:focus,
.contact-form textarea:focus {
  background-color: #fff;
  color: var(--color-dark-gray);
}
  
.contact-form input:focus:required:invalid {
  border-color: var(--color-pink);
  background-color: #fff;
}
  
.contact-form button {
  display: block;
  margin-top: 12px;
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  border-color: transparent;
  background-color: var(--color-blue);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  
  transition: 300ms all;
}
  
.contact-form button:hover {
  background-color: var(--color-light-blue);
}
  
.contact-alert {
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  display: none;
}
  
.contact-alert.visible {
  display: block;
}
  
.contact-alert.success {
  background: #69cf9d;
}
  
.contact-alert.error {
  background: #de524c;
}


/* FOOTER */

footer{
    background-color: black;
}

footer a{
    color: white;
    text-decoration: none;
}